{% extends "school/base.html" %}
{% load static %}

{% block title %}Список учеников{% endblock %}
{% block content %}
<div class="row">
  <ul>
    {% for student in students %}
    <h2>{{ student.name }}</h2>
    <p>Age: {{ student.age }}</p>

    <h3>Teachers:</h3>
    {% if student.teachers.all %}
        <ul>
            {% for teacher in student.teachers.all %}
                <li>{{ teacher.name }}: {{ teacher.subject }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No assigned teachers.</p>
    {% endif %}
    
    <hr>
{% endfor %}
  </ul>
</div>
{% endblock %}
